In [1]:
# ðŸ“˜ 1_Data_Preprocessing.ipynb
import pandas as pd
import os

In [2]:
# Load raw dataset
df = pd.read_csv("../data/raw/india_districts_2500.csv")
print("âœ… Data loaded:", df.shape)

âœ… Data loaded: (2500, 20)

In [3]:
# Melt monthly rainfall columns into one column
month_cols = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
df_long = df.melt(
    id_vars=['DISTRICT', 'YEAR', 'AVG_TEMP', 'HUMIDITY', 'ELEVATION', 'FLOODS'],
    value_vars=month_cols,
    var_name='MONTH',
    value_name='RAINFALL_MM'
)

In [4]:
# Encode FLOODS as binary
df_long['FLOODS'] = df_long['FLOODS'].map({'YES': 1, 'NO': 0})

In [5]:
# Map months to numbers
month_map = {m: i+1 for i, m in enumerate(month_cols)}
df_long['MONTH'] = df_long['MONTH'].map(month_map)

In [6]:
# Drop missing values
df_long.dropna(inplace=True)

In [7]:
# Save processed data
os.makedirs("../data/processed", exist_ok=True)
df_long.to_csv("../data/processed/flood_cleaned.csv", index=False)

In [8]:
print("âœ… Cleaned dataset saved: ../data/processed/flood_cleaned.csv")
df_long.head()

âœ… Cleaned dataset saved: ../data/processed/flood_cleaned.csv

   DISTRICT  YEAR  AVG_TEMP  HUMIDITY  ELEVATION  FLOODS  MONTH  RAINFALL_MM
0      Gaya  2021     27.73     88.30      35.22       0      1       14.118
1  Vadodara  2022     35.66     90.51       9.23       1      1       30.264
2  Hubballi  1992     33.36     51.94     296.10       1      1        5.636
3   Udaipur  1998     34.41     58.16     316.26       0      1        5.168
4  Guwahati  1997     23.70     67.45     355.24       0      1        8.353